<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone is trying to claim the pet you found,</h1>
    <p>
      Someone has commented on your posting..<br>
    </p>
    <p>
      To view the comment, just follow this link: <%= link_to 'View posting', @url %>.
    </p>
    <p>Thanks for taking part and have a great day!</p>
  </body>
</html>