<%= render 'errorcheck' %>

<h1>Register a found pet:</h1>

<div style = "border:20px; border-style:solid; border-color:#008080; padding: 2em">

<%= render 'form' %>

<%= link_to 'Back', pets_path %>

</div>