<h1 style = "color:#008080">Lost pet?</h1>


<div style="border:20px; border-style:solid; border-color:#008080; padding: 2em">
  <p>This website allows you to register/find any lost pets!</p>
  <p><%= link_to 'View Registered Pets', controller: 'pets' %></p>
</div>