<%= render 'menubar' %>
<body class = "container home">
  
<h style = "color:#008080; font-size: 72pt">Lost pet?</h>

<div style="background-color: rgba(255,255,255,0.3); border:20px; border-style:solid; border-color:#008080; padding: 1em">
  <p>This website allows you to register/find any lost pets!</p>
</div>
  
</body>
