<body class = "container home">
  
<h1 style = "color:#008080">Lost pet?</h1>

<div style="background-color: rgba(255,255,255,0.3); border:20px; border-style:solid; border-color:#008080; padding: 1em">
  <p>This website allows you to register/find any lost pets!</p>
  <p><%= link_to 'View Registered Pets', controller: 'pets' %></p>
</div>
  
</body>
